#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0; 
}

ul li {
  margin-bottom: 5%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 2% 4%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5%;
  box-shadow: 2px 2px 2px rgba(118, 118, 118, 0.5);
  width: 100%;
}

button {
  background-image: linear-gradient(135deg, rgb(145, 145, 245), rgb(173, 173, 245));
  background-color: rgb(155, 155, 245);
}
